.App {
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}
.form-container {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  width: 150px;
  font-size: 12px;
}

.keyword-search-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: darkseagreen;
  width: 150px;
  font-size: 12px;
}

.status-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: bisque;
  width: 150px;
  font-size: 15px;
  height: 70px;
}

.form_input_box {
  margin-left: 20px;
  width: 100px;
}

.command-button {
  margin-top: 20px;
}

.error-text {
  background-color: red;
}
